@import "./variables";
#template{
    padding: 120px 0;
    .template_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .template_boxes{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width:900px) {
            justify-content: center;
        }
        .template_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            border: 1px solid #4B4136;
            padding: 41px;
            width: 32%;
            @media (max-width:1200px) {
                width: 45%;
            }
            @media (max-width:900px) {
                width: 400px;
            }
            @media (max-width:440px) {
                width: 350px;
            }
            @media (max-width:380px) {
                width: 90%;
            }
            @media (max-width:285px) {
                width: 80%;
            }
            &:hover{
                box-shadow: 0 8px 24px rgba(108, 108, 108, 0.6);
                transition: all .6s;
            }
            h1{
                color: $mainTextColor;
                text-transform: uppercase;
                font-size: 0.7rem;
                letter-spacing: 2px;
            }
            img{
                @media (max-width:380px) {
                    width: 200px;
                }
                @media (max-width:290px) {
                    width: 100%;
                }
            }
        }
        .last_box{
            @media (max-width:1201px) {
                margin: 0 auto;
            }
        }
    }
}